
<div class="content-container">
  <mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile *ngFor="let classroom of classrooms">
      <mat-card class="classroom-card">
        <img mat-card-image src="https://images.pexels.com/photos/3573351/pexels-photo-3573351.png?auto=compress&cs=tinysrgb&fit=crop&h=150&w=400 " alt="Photo of the classroom">
        <mat-card-header>
          <mat-card-title>{{ classroom.roomNumber + ' ' + classroom.section }}</mat-card-title>
          <mat-card-subtitle>{{ classroom.currentSize }} students enrolled</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button color="primary" (click)="goToCoursesView(classroom)" aria-label="Go to Courses View">View</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
