<div *ngIf="course">
    <h2>{{ course.name }}</h2>
    <p>ID del Profesor: {{ course.teacherId || 'Sin asignar' }}</p>
    <h1>{{ course.name }}</h1>
    <p>ID del Aula: {{ course.classroomId }}</p>
    <p>Horario: {{ course.schedule }}</p>
    <button mat-raised-button color="primary" (click)="goToDetailCoursesView()">Volver a Cursos</button>
    <button mat-raised-button color="accent" *ngIf="isTeacher()" (click)="goToGradebook()">Gestionar Notas</button>
    <button mat-raised-button color="warn" (click)="goToViewNotas()">Ver Notas</button>
</div>
