<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
    <ul>
        <li>
            <p>Name</p>
            <mat-form-field>
                <input matInput [(ngModel)]="data.name">
            </mat-form-field>
        </li>
        <li>
            <p>Maternal Last Name</p>
            <mat-form-field>
                <input matInput [(ngModel)]="data.paternal">
            </mat-form-field>
        </li>
    </ul>
    <ul>
        <li>
            <p> Paternal Last Name</p>
            <mat-form-field>
                <input matInput [(ngModel)]="data.maternal">
            </mat-form-field>
        </li>
        <li>
            <p>Student Code</p>
            <mat-form-field>
                <input matInput [(ngModel)]="data.address">
            </mat-form-field>
        </li>
    </ul>




</div>
<div mat-dialog-actions class="actions">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" >Add</button>
</div>
