<div class="container" fxLayout="row wrap" fxLayoutAlign="start start">

    <div fxFlex="95%">

        <h1 class="moved-right">Courses taught in Classroom A21 - G1A</h1>
        <div class="container" fxLayout="row wrap" fxLayoutAlign="start start">
            <mat-card class="example-card" fxFlex="20%" fxFlexOffset="1%">

                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

                <mat-card-content>

                    <mat-card-title>ClassroomA21 - G1A</mat-card-title>
                    <mat-card-subtitle>20 students in this group</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions>

                    <button mat-button color="primary"  (click)="viewAttendance()" class="text-right" >Attendance</button>
                    <button mat-button color="primary" (click)="viewGrades()" class="text-right">Grade</button>
                </mat-card-actions>
            </mat-card>
            <!-- Colocar mas por aqui -->
        </div>

    </div>
</div>