<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
    <ul>
        <li>
            <p>Name</p>
            <mat-form-field>
                <input matInput [(ngModel)]="data.name">
            </mat-form-field>
        </li>
        <li>
            <p>Description</p>
            <mat-form-field>
                <input matInput [(ngModel)]="data.description">
            </mat-form-field>
        </li>
        <li>
            <p>Period</p>
            <mat-form-field>
                <input matInput [(ngModel)]="data.period">
            </mat-form-field>
        </li>

    </ul>
    <ul>
        <li>
            <p> Budget</p>
            <mat-form-field>
                <input matInput [(ngModel)]="data.budget">
            </mat-form-field>
        </li>
        <li>
            <p>Creation</p>
            <mat-form-field>
                <input matInput [(ngModel)]="data.creation">
            </mat-form-field>
        </li>
        <li>
            <p>State</p>
            <mat-form-field>
                <input matInput [(ngModel)]="data.state">
            </mat-form-field>
        </li>
    </ul>




</div>
<div mat-dialog-actions class="actions">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" >Add</button>
</div>
