<h1 style="padding-left: 50px">
    Lista de Profesores
</h1>


<ul>
    <li><h2>Buscar</h2></li>
    <li><input  style="width: 300px; height: 25px"></li>
    <li><button  (click)="openDialog()" class="button">AGREGAR PROFESOR</button></li>
</ul>
<div class="table">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width ">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Full Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastNameFather}} {{element.lastNameMother}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>





        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="onEditItem(element)" matTooltip="Editar profesor">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDeleteItem(element)" matTooltip="Eliminar profesor (No disponible)" [disabled]="true">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>